*.log
.vars
.urls
.keys
.secret

**/.venv

polarlys/**.jpg
polarlys/**.json

kresse/photos/**.jpg

strom-verbrauchsmessung/*probe*
strom-verbrauchsmessung/primary-jpgs/*.jpg
strom-verbrauchsmessung/primary-jpgs/*.tar
strom-verbrauchsmessung/daily-tars/*.tar
